input[type="button"] {
	width: 300px;
	background-color: #bccb4a;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-top: 20px;
}

input[type="button"]:focus {
	-webkit-box-shadow: 0px 0px 20px 5px rgba(97, 91, 97, 1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(97, 91, 97, 1);
	box-shadow: 0px 0px 20px 5px rgba(97, 91, 97, 1);
}

input[type="button"]:hover {
	background-color: #ccd682;
}
